html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
}

.background {
    background-image: url("https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    width: 90%;
    height: fit-content;
    margin: auto;
    background-color: #ffffffb8 !important;
}


@media only screen and (min-width: 600px) {
    .box {
        width: 60%;
    }
}

@media only screen and (min-width: 720px) {
    .box {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .box {
        width: 40%;
    }
}


@media only screen and (min-width: 1080px) {
    .box {
        width: 30%;
    }
}